:root {
    --bg-color: #fbf8ee;
    --main-color: #dddaf4;
    --swirl-color: #9fa8f0;
    --secondary-color: #473c8b;
    --main-font-color: #22224f;
    --intro-font: "Lobster";
    /*sans serif */
    --navFooter-font: "Raleway";
    --subtext: "Playfair Display";

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

/* Nav Link */

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    font-family: var(--intro-font);
    color: var(--secondary-color);
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.nav-link:hover {
    color: var(--swirl-color);
    text-decoration: underline;
}

main {
    margin-top: 100px;
}

/* Intro */

.intro {
    background-color: var(--swirl-color);
    text-align: center;
}

.intro-title {
    font-size: 6rem;
    font-family: var(--intro-font);
    color: var(--main-font-color);
}

.intro-info {
    margin-bottom: 40px;
}

.intro p {
    font-family: var(--subtext);
}

.intro svg {
    display: block;
    /*So it takes entire width */
}

.svg-upper {
    background-color: var(--bg-color);
}

/* About Me */

.About-Me {
    display: flex;
    margin: 100px;
}

.about-me-image-div {
    height: 500px;
    width: 50%;
    background-color: #22224f;
}

.About-me-article {
    width: 50%;
    margin-left: 20px;
}

.About-me-header {
    font-size: 4rem;
    font-family: var(--navFooter-font);
    color: var(--main-font-color);
    margin-bottom: 20px;
}

.About-me-paragraph {
    font-family: var(--subtext);
}


/* Skills */

.Skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.3rem;
    font-family: var(--navFooter-font);
    color: var(--main-font-color);
}

/* About Me */

.my-journey {
    display: flex;
    margin: 100px;
}

.my-journey-article {
    width: 50%;
    margin-right: 20px;
}

.my-journey-image-div {
    height: 500px;
    width: 50%;
    background-color: #22224f;
}

.my-journey-header {
    font-size: 4rem;
    font-family: var(--navFooter-font);
    color: var(--main-font-color);
    margin-bottom: 20px;
}

.my-journey-paragraph {
    font-family: var(--subtext);
}

/* Project Sect */

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.3rem;
    font-family: var(--navFooter-font);
    color: var(--main-font-color);
}


/* Contact section */

.Contact {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;

}

.contact-link {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 25px 50px -12px rgba(34, 34, 79, 0.75);

}

.contact-link h1 {
    font-size: 2.5rem;
    font-family: var(--subtext);
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-link p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: var(--navFooter-font);
}

.contact-desc {
    color: rgb(118, 118, 118);
}

.contact-info {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--secondary-color);
}

/* Footer */

footer {
    width: 100%;
    height: 220px;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: var(--navFooter-font);
}

.copyright {
    margin-top: auto;
    font-size: 1rem;
    font-weight: bolder;
}

.social-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.social-link {
    font-size: 0.9rem;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
}

.social-link svg {
    margin-left: 10px;
}