:root {
    --bg-color: #fbf8ee;
    --main-color: #dddaf4;
    --swirl-color: #9fa8f0;
    --secondary-color: #473c8b;
    --main-font-color: #22224f;
    --intro-font: "Lobster";
    /*sans serif */
    --navFooter-font: "Raleway";
    --subtext: "Playfair Display";

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
}

/* Nav Link */

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    font-family: var(--intro-font);
    color: var(--secondary-color);
    transition: color 0.2s ease, text-decoration 0.2s ease;
}

.nav-link:hover {
    color: var(--swirl-color);
    text-decoration: underline;
}

main {
    margin-top: 50px;
}

/* Intro */

.intro {
    background-color: var(--swirl-color);
    text-align: center;
}

.intro-title {
    font-size: 6rem;
    font-family: var(--intro-font);
    color: var(--main-font-color);
}

.intro-info {
    margin-top: 40px;
    margin-bottom: 40px;
}

.intro p {
    font-family: var(--subtext);
}

.intro svg {
    display: block;
    /*So it takes entire width */
}

.svg-upper {
    background-color: var(--bg-color);
}

/* About Me */

.About-Me {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 100px;

}

.about-me-image {
    height: 500px;
    width: 500px;

}

.About-me-article {
    text-align: center;
    width: 500px;
    margin-left: 100px;
}

.About-me-header {
    font-size: 4rem;
    font-family: var(--navFooter-font);
    color: var(--main-font-color);
    margin-bottom: 20px;
}

.About-me-paragraph {
    font-family: var(--subtext);
    margin-bottom: 20px;
}


/* Skills */

.Skillset {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 150px;
}

.skills-article {
    text-align: center;
    margin: 30px 100px
}

.Skills-title {
    margin-bottom: 30px;
    color: var(--main-font-color);
    font-size: 5rem;
    font-family: var(--navFooter-font);
}

.Skills-paragraph {
    font-size: 1.2rem;
}

.dif-skills {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 60px;
}

.skills h3 {
    text-align: center;
    font-size: 1rem;
}

/* About Me */

.my-journey {
    display: flex;
    align-items: center;
    justify-content: center;

}

.my-journey-article {
    text-align: center;
    width: 600px;
    margin-right: 100px;
}


.my-journey-image {
    margin-left: 20px;
    height: 500px;
    width: 500px;
}

.my-journey-header {
    font-size: 4rem;
    font-family: var(--navFooter-font);
    color: var(--main-font-color);
    margin-bottom: 20px;
}

.my-journey-paragraph {
    font-family: var(--subtext);
    margin: 20px;

}

/* Project Sect */

.project {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--navFooter-font);
    color: var(--main-font-color);
}

.project-article-mobile {
    display: none;
}

.main-project-div {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.project-header {
    color: #22224f;
    font-size: 4rem;
    margin-bottom: 80px;
}

.project-article {
    color: black;
    font-size: 1.1rem;
    text-align: center;
    margin: 10px 120px;
}

.project-paragraph {
    font-family: var(--subtext);
    margin-bottom: 40px;
    margin-top: 40px;
}

.project-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 100px;
}

/* Image */

.portfolio-project {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(34, 34, 79);
}

.project-Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-project:hover .project-Overlay {
    opacity: 1;
}

.project-text {
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-project {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.projectBtn {
    border-style: none;
    border-radius: 10px;
    color: var(--bg-color);
    background-color: var(--secondary-color);
    box-shadow: 0 25px 50px -12px rgba(34, 34, 79, 0.75);
    font-size: 2rem;
    font-family: var(--subtext);
    font-weight: bolder;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.projectBtn:hover {
    background-color: var(--swirl-color);
    color: #22224f;
}


/* Contact section */

.Contact {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
    margin-top: 100px;

}

.contact-link {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    box-shadow: 0 25px 50px -12px rgba(34, 34, 79, 0.75);

}

.contact-link h1 {
    font-size: 2.5rem;
    font-family: var(--subtext);
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-link p {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: var(--navFooter-font);
}

.contact-desc {
    color: rgb(118, 118, 118);
}

.contact-info {
    font-size: 1.4rem;
    font-weight: bolder;
    color: var(--secondary-color);
}

/* Footer */

footer {
    width: 100%;
    height: 220px;
    background-color: var(--secondary-color);
    color: var(--bg-color);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: var(--navFooter-font);
}

.copyright {
    margin-top: auto;
    font-size: 1rem;
    font-weight: bolder;
}

.social-links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.social-link {
    font-size: 0.9rem;
    margin-bottom: 5px;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
    text-decoration: none;
    color: #dddaf4;
}

.social-link:hover {
    color: #9fa8f0;
}

.social-link svg {
    margin-left: 10px;
}