@media screen and (min-width: 2000px) {
    .about-me-image {
        height: 850px;
        width: 850px;
    }

    .my-journey-image {
        margin-left: 20px;
        height: 800px;
        width: 800px;
    }

    .nav-bar {
        height: 70px;
    }

    .nav-link {
        font-size: 2rem;
    }

    /* My Intro */

    .intro-title {
        font-size: 10rem;
    }

    .intro-info p {
        font-size: 2rem;

    }

    /* My About */

    .About-me-header {
        margin-bottom: 50px;
    }

    .About-me-paragraph {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    /* My Skills */

    .Skills-paragraph {
        font-size: 1.7rem;
    }

    .skills svg {
        width: 150px;
        height: 150px;
    }

    /* My journey */

    .my-journey-header {
        margin-bottom: 50px;
    }

    .my-journey-paragraph {
        font-size: 1.5rem;
        margin-bottom: 50px;
    }

    /* My project*/

    .project-paragraph {
        width: 700px;
        font-size: 1.5rem;
    }

    .project-article {
        margin-right: 200px;
    }

    .project {
        margin-right: 150px;
    }

    .project-div {
        margin-right: 200px;
        width: 600px;
    }

    /* My contact */

    .Contact {
        margin-top: 200px;
        margin-bottom: 200px;
    }

    .contact-link {
        width: 400px;
        height: 400px;
    }
}


/* 1000 px and lower */

@media screen and (min-width: 1025px) {

    .About-Me {
        margin: 40px 50px
    }

    .about-me-image {
        width: 400px;
    }

    .About-me-header {
        font-size: 3rem;
    }

    .About-me-paragraph {
        font-size: 0.9rem;
    }

    /* skills */

    .Skillset {
        margin-top: 70px;
        margin-bottom: 80px;
    }

    .Skills-title {
        font-size: 3rem;
    }

    .Skills-paragraph {
        font-size: 1rem;
    }

    .skills svg {
        width: 80px;
        height: 80px;

    }

    .dif-skills {
        gap: 40px;
    }

    /* About Me */

    .my-journey {
        display: flex;
        margin: 120px 50px;
    }

    .my-journey-header {
        font-size: 3rem;
    }

    .my-journey-paragraph {
        font-size: 0.9rem;
    }

    .my-journey-image {
        width: 350px;
    }

    /* Project */

    .portfolio-project {
        width: 300px;
        height: 150px;
    }

    .project-header {
        font-size: 3rem;
        margin-bottom: 30px;
    }

    .project-paragraph {
        font-size: 1rem;
    }
}

/* Tablet */

@media screen and (min-width: 768px) {

    .nav-link {
        font-size: 0.7rem;
    }

    .intro-title {
        font-size: 4rem;
        font-family: var(--intro-font);
        color: var(--main-font-color);
    }

    .intro p {
        font-family: var(--subtext);
        font-size: 0.8rem;
    }

    /* About Me */
    .About-Me {
        margin: 40px 50px
    }

    .about-me-image {
        width: 350px;
        height: 350px;
    }

    .About-me-header {
        font-size: 2.5rem;
    }

    .About-me-paragraph {
        font-size: 0.7rem;
    }

    /* My skills */

    .Skills-title {
        font-size: 2.3rem;
    }

    .Skills-paragraph {
        font-size: 0.8rem;
    }


    .skills svg {
        width: 50px;
        height: 50px;

    }

    .dif-skills {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }

    .skills h3 {
        font-size: 0.8rem;
    }

    /* About Me 2 */

    .my-journey {
        display: flex;
        margin: 120px 50px;
    }

    .my-journey-header {
        font-size: 2rem;
    }

    .my-journey-paragraph {
        font-size: 0.7rem;
        margin-right: 50px;
        width: 300px;
    }

    .my-journey-image {
        width: 300px;
        height: 300px;
    }

    /* Project */
    .portfolio-project {
        width: 250px;
        height: 125px;
    }

    .project-header {
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .project-paragraph {
        font-size: 0.7rem;
        margin-bottom: 20px;
    }

    .project-div {
        margin-right: 80px;
    }

    .project-article {
        margin-top: 100px;
        width: 250px;
    }

    .projectBtn {
        font-size: 1.5rem;
        width: 100px;
        height: 50px;
    }

    /* Contact */

    .contact-link {
        width: 200px;
        height: 200px;
        border-radius: 20px;
    }

    .contact-link h1 {
        font-size: 1.5rem;
    }

    .contact-link p {
        font-size: 1rem;
    }

    .contact-info {
        font-size: 1.2rem;
    }

    /* footer */

    .copyright {
        font-size: 1rem;
    }

    .social-link {
        margin-right: 5px;
    }
}

/*Mobile */

/*Small Mobile */